<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.teamhoney_sprayerreporting_2022">

    <permission
        android:name="com.app.TeamHoney_SprayerReporting_2022.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.app.TeamHoney_SprayerReporting_2022.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeamHoney_SprayerReporting_2022">
        <activity
            android:name=".DeleteChemicals"
            android:exported="false" />
        <activity
            android:name=".AddChemical"
            android:exported="false" />
        <activity
            android:name=".SprayEntries"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyj6pRqsFZuc99V0v3X2LN7FIIoF61JyA" />

        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".AdminSelection"
            android:exported="false" />
        <activity
            android:name=".DeleteUsers"
            android:exported="false" />
        <activity
            android:name=".AddUser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>